.sectionComents {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 95%;
    margin: 0 auto;
}

.coments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.comentWrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentIframe {
    width: 100%;
}

.comentIframe iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 8px 8px 0 0;
}

.coment {
    padding: 20px;
}

.comentText {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
    font-family: 'Montserrat', sans-serif;
}

.comentsTitle {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #6d131a;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .sectionComents {
        padding: 15px;
    }

    .coments {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
        gap: 10px;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .comentsTitle {
        font-size: 1.6rem;
        text-align: center;
    }

    .comentText {
        font-size: 0.95em;
    }

    .comentWrapper {
        min-width: 250px;
        width: 100%;
    }

    .comentIframe iframe {
        height: 300px;
    }
}


@media (max-width: 400px) {
    .sectionComents {
        padding: 10px;
        width: 95%;
    }

    .coments {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .comentsTitle {
        font-size: 1.5rem;
        text-align: center;
    }

    .comentText {
        font-size: 0.9em;
    }

    .comentIframe iframe {
        height: 150px;
    }
}