.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #ffffff;
    padding: 40px;
    margin: 0 auto;
    border-radius: 8px;
}

.item {
    background-color: white;
    border: #6d131a 2px solid;
    color: #6d131a;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgBox {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.containerTitle {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #6d131a;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .containerTitle {
        font-size: 1.8rem;
    }

    .item {
        padding: 10px;
    }

    .imgBox {
        height: 120px;
    }
}

@media (max-width: 400px) {
    .container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .containerTitle {
        font-size: 1.5rem;
    }

    .item {
        padding: 8px;
    }

    .imgBox {
        height: 100px;
    }
}