.factsContainer {
    text-align: center;
    background-color: #6d131a24;
    padding: 30px 0;
}

.factsTitle {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #6d131a;
    margin: 0 0 40px;
    text-transform: uppercase;
}

.factsWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.factBox {
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    max-width: 300px;
    display: inline-block;
    margin: 0 90px;
}

.factImage {
    max-height: 200px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.factImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    overflow: hidden;
}

.factText {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}

@media (max-width: 1150px) {
    .factImage {
        max-height: 180px;
    }
}

@media (max-width: 768px) {
    .factImage {
        max-height: 150px;
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    .factImage {
        max-height: 150px;
    }
}