@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@400;600&display=swap');

body {
  padding-top: 85px;
}

.menuIcon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #6d131a;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  color: white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 100px;
}

.logo {
  flex: 0;
}

.imageLogo {
  height: 70px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navUl {
  display: flex;
  margin: 0px;
  padding: 0px;
}


.navLi {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  justify-content: center;
}

.navBlock {
  padding: 35px;
}

.navLi:hover .navBlock {
  background-color: #6d131a;
}

.navLink {
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s;
  color: black;
  cursor: pointer;
}

.navLi:hover .navLink {
  color: white;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcon {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 30px;
}

.socialIcon.facebook svg {
  color: #3b5998;
}

.socialIcon.instagram {
  color: #E1306C;
}

.socialIcon.whatsapp {
  color: #25D366;
}

@media (max-width: 1460px) {
  body {
    padding-top: 70px;
  }

  .headerContainer {
    padding: 0px 70px;
  }

  .imageLogo {
    height: 50px;
  }

  .navBlock {
    padding: 30px;
  }

  .navLink {
    font-size: 10px;
  }

  .socialIcons {
    gap: 5px;
  }

  .socialIcon {
    font-size: 20px;
  }

}

@media (max-width: 1170px) {
  body {
    padding-top: 60px;
  }

  .navBlock {
    padding: 25px;
  }

  .navLink {
    font-size: 10px;
  }
}



@media (max-width: 1127px) {
  body {
    padding-top: 160px;
  }

  .headerContainer {
    padding: 0px 50px;
    flex-direction: column;
    gap: 5px;
  }

  .navBlock {
    padding: 20px;
  }

  .navLink {
    font-size: 10px;
  }

  .imagelogo {
    height: 25px;
  }

  .socialIcon {
    font-size: 30px;
  }

  .nav {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .nav,
  .socialIcons {
    display: none;
  }

  .header {
    height: 65px;
  }

  .mobileOnly {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    overflow-y: auto;
  }

  .menuIcon {
    display: block;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 20;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 20;
  }

  .navMobile {
    margin-top: 65px;
  }

  .navUlMobile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
  }

  .navBlock {
    padding: 5px;
  }

  .navBlock:hover {
    color: white;
    background-color: #6d131a;
  }

  .navLinkMobile {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
  }

  .navLinkMobile:hover {
    color: #6d131a;
  }

  .socialIconsMobile {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }

  .socialIconMobile {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .socialIconMobile.facebook svg {
    color: #3b5998;
  }

  .socialIconMobile.instagram {
    color: #E1306C;
  }

  .socialIconMobile.whatsapp {
    color: #25D366;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
  }

  .nav {
    margin-bottom: 20px;
  }

  .imageLogo {
    height: 50px;
    margin-bottom: 10px;
  }

  .navUl {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .navLi {
    padding: 15px;
  }

  .navLi:hover {
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .navLink {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .navUl {
    padding: 0px;
  }
}

@media (max-width: 400px) {
  .navLi {
    padding: 5px;
  }

  .navLi:hover {
    padding: 13px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.3);
  }

  .navLink {
    font-size: 13px;
  }

  .socialIcons {
    gap: 30px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(109, 19, 26, 0.2);
  text-align: center;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}