@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@400;600&display=swap');
  /* Menu mobile */
.menuIcon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #6d131a;
}
/* Fim menu mobile */

.header {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 100px;
}

.logo {
  flex: 0;
}

.imageLogo {
  height: 80px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


.navUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.navLi {
  display: inline;
  padding: 40px;
  font-family: 'Ysabeau Office';
  text-transform: uppercase;

}

.navLi:hover {
  padding: 40px;
  background-color: #6d131a;
}

.navLink {
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.navLi:hover .navLink {
  color: white;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcon {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 30px;
}

.socialIcon.facebook svg {
  color: #3b5998;
}

.socialIcon.instagram {
  color: #E1306C;
}

.socialIcon.whatsapp {
  color: #25D366;
}

@media (max-width: 1367px) {
  .container{
    padding: 0px 50px;
  }

  .imageLogo {
    height: 60px;
  }

  .navLi {
    padding: 25px;
  }

  .navLi:hover {
    padding: 25px;

  }

  .navLink {
    font-size: 18px;
  }

  .socialIcons {
    margin-right: 6px;
    font-size: 50px;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .container{
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
  }

  .logo{
    margin-bottom: 25px;
  }

  .socialIcon{
    font-size: 30px;
  }

  .nav{
  margin-bottom: 30px;
  }

  .navLi{
    padding: 25px;
  }
}

@media (max-width: 768px) {
  /* Menu mobile */
  .nav, .socialIcons {
    display: none;
  }

  .header {
    height: 65px;
  }

  .mobileOnly {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 10;
    overflow-y: auto;
  }

  .menuIcon {
    display: block;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 20;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 20;
  }

  .navMobile {
    margin-top: 80px;
  }

  .navUlMobile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
  }

  .navLiMobile {
    margin: 15px 0;
  }

  .navLiMobile:hover {
    color: #6d131a;
  }

  .navLinkMobile {
    color: #6d131a;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
  }

  .navLinkMobile:hover {
    color: #6d131a;
  }

  .socialIconsMobile {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }

  .socialIconMobile {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .socialIconMobile.facebook svg {
    color: #3b5998;
  }
  
  .socialIconMobile.instagram {
    color: #E1306C;
  }
  
  .socialIconMobile.whatsapp {
    color: #25D366;
  }
  /* Fim menu mobile*/

  .container{
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
  }


  .nav {
    margin-bottom: 20px;
  }

  .imageLogo {
    height: 50px;
  }

  .navUl {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .navLi{
    padding: 15px;
  }

  .navLi:hover {
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .navLink {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .navUl{
    padding: 0px;
  }
}

@media (max-width: 400px) {
  .navLi {
    padding: 5px;
  }

  .navLi:hover {
    padding: 13px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.3);
  }

  .navLink {
    font-size: 13px;
  }

  .socialIcons {
    gap: 30px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(109, 19, 26, 0.2);
  text-align: center;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}