.header {
  background-color: #6d131a;
  padding: 10px 0;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  flex: 0;
  font-size: 30px;
}

.imageLogo {
  height: 80px;
}

.nav {
  flex-grow: 1;
  text-align: center;
}

.navUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.navLi {
  display: inline;
  padding: 70px;

}

.navLi:hover {
  padding: 70px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.navLink:hover {
  color: #f1c40f;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 24px;
  margin: 0 5px
}

@media (max-width: 1150px) {
  .navLi {
    padding: 25px;
  }

  .navLi:hover {
    padding: 25px;

  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .nav {
    margin-bottom: 20px;
  }

  .imageLogo {
    height: 55px;
  }

  .navUl {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .navLi {
    display: inline;
    padding: 10px;
  }

  .navLi:hover {
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 400px) {
  .navLi:hover {
    padding: 13px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.3);
  }

  .navLink {
    font-size: 13px;
  }

  .socialIcons {
    gap: 50px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(109, 19, 26, 0.2);
  text-align: center;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}