.selfExamContainer {
    padding: 20px;
    text-align: center;
}

.examTitle {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #6d131a;
    margin-bottom: 20px;
    text-align: center;
}

.containerExam {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
    border-top: 2px solid #6d131a;
    border-bottom: 2px solid #6d131a;
}

.cardExam {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cardExam:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImgExam {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
}

.titleExam {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
    text-align: center;
}


@media (max-width: 768px) {
    .containerExam {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 10px;
    }

    .examTitle {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    .containerExam {
        grid-template-columns: 1fr;
        /* uma coluna */
        gap: 10px;
        padding: 5px;
    }

    .examTitle {
        font-size: 1.6rem;
    }

    .cardImgExam {
        height: 120px;
    }
}