.sectionCard {
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #6d131a;
  text-transform: uppercase;
  text-align: center;
  margin-top: auto;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.ulStyle {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.ulStyle {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.liStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 280px;
  text-align: center;
}

.icons {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .ulStyle {
    gap: 0px 160px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .liStyle {
    height: 250px;
  }

}

@media (max-width: 920px) {
  .ulStyle {
    gap: 0px 200px;
  }
}



@media (max-width: 798px) {
  .ulStyle {
    gap: 25px 100px;
  }
  
  .liStyle {
    height: 185px;
  }

  .cardTitle {
    font-size: 1.8rem;
    
  }

  .title {
    font-size: 0.9em;
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .ulStyle {
    gap: 0px 50px;
  }

  .liStyle {
    width: 170px;
  }

  .cards {
    width: 20vh;
    height: 20vh;
  }
}

@media (max-width: 400px) {
  .ulStyle {
    gap: 0px;
  }

  .cards {
    width: 15vh;
    height: 15vh;
  }
}