.header {
  background-color: #6d131a;
  padding: 10px 0;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  flex: 0;
}

.logo img {
  height: 50px;
}

.nav {
  flex-grow: 1;
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.nav ul li {
  display: inline;
  margin: 0 15px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav ul li a:hover {
  color: #f1c40f;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #f1c40f;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .nav, .logo {
    margin-bottom: 20px;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
